link[rel="icon"] {
  border-radius: 50%;
  -webkit-mask-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='50%25' cy='50%25' r='50%25' fill='black'/%3e%3c/svg%3e");
  mask-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='50%25' cy='50%25' r='50%25' fill='black'/%3e%3c/svg%3e");
}
